/* 
    Created on : 15/03/2021, 10:05:26 AM
    Author     : Sam Hernández
    Version: 1.0
    Repository: https://github.com/Sam24Hernandez/YuppieCommerce
*/

/***** Header Section *****/

.h-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.h-top .h-left {
    float: left;
}

.h-top .h-left .mail-service {
    font-size: 13px;
    color: #0F1111;
    float: left;
    border-right: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.h-top .h-left .mail-service i {
    margin-right: 5px;
}

.h-top .h-left .phone-service {
    float: right;
    font-size: 12px;
    color: #0F1111;
    line-height: 27px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.h-top .h-left .phone-service i {
    margin-right: 5px;
}

.h-top .h-right {
    float: right;
}

.h-top .h-right .login-panel {
    float: right;
    font-size: 12px;
    color: #0F1111;
    display: inline-block;
    padding-left: 20px;
    border-left: 1px solid #e5e5e5;
    padding-top: 18px;
    padding-bottom: 15px;
}

.h-top .h-right .login-panel i {
    margin-right: 8px;
}

.h-top .h-right .register-panel {
    float: right;
    font-size: 12px;
    color: #0F1111;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 15px;
}

.h-top .h-right .register-panel i {
    margin-right: 8px;
}

.h-top .h-right .social {
    float: right;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #e5e5e5;
}

.h-top .h-right .social a {
    color: #252525;
    font-size: 16px;
    display: inline-block;
    margin-left: 15px;
}

.inner-header {
    padding: 39px 0;
}

.line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.inner-header .logo {
    padding: 12px 0;
}

.inner-header .logo a {
    display: inline-block;
}

.inner-header .logo a img {
    width: 187px;
    height: 39px;
}

.inner-header .advanced-search-box {
    height: 50px;
    border: 1px solid #ebebeb;
}

div.h-category {
    z-index: 9999;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 3px 10px 6px;
    box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);
    border-radius: 0 0 3px 3px;
}

#categories {
    position: absolute;
    top: 50px;
    padding: 20px 0;
}

#header-sbc td {
    width: 200px;
    vertical-align: top;
    padding: 0 10px 15px;
}

#header-sbc {
    margin: 0 15px 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#header-sbc #shop-see-all {
    color: #3665f3;
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
}

#header-sbc h3 {
    margin: 0;
    padding: 15px 0 0;
    display: block;
}

#header-sbc h3, #header-sbc h3 a {
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

#header-sbc h3.header-sbc-parent {
    padding-top: 30px;
}

#header-sbc h3:first-child {
    padding-top: 0;
}

#header-sbc h3 a {
    padding-right: 8px;
}

.header-list-sbc ul, 
.header-list-sbc li {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.header-list-sbc li {
    padding: 10px 0 0 5px;
}

.header-list-sbc ul li {
    list-style: none;
}

.header-list-sbc a {
    font-size: 12px;
    color: #555;
}

.header-list-sbc a:hover {
    text-decoration: underline;
}

#categories {
    display: none;
}

.inner-header .advanced-search-box .category-btn {
    max-width: 30%;
    float: left;
    background: transparent;
    border: none;
    padding-left: 23px;
    padding-top: 11px;
    padding-bottom: 18px;
    padding-right: 60px;
    font-size: 1em;
    color: #252525;
    position: relative;
}

.inner-header .advanced-search-box .category-btn:before {
    position: absolute;
    right: 0;
    top: 14px;
    width: 1px;
    height: 20px;
    background: #e5e5e5;
    content: "";
}

.inner-header .advanced-search-box .category-btn:after {
    position: absolute;
    right: 11px;
    top: 12px;
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 1em;
    color: #b2b2b2;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.inner-header .advanced-search-box .input-group {
    max-width: 70%;
    height: 100%;
}

.inner-header .advanced-search-box .input-group input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 20px;
}

.inner-header .advanced-search-box .input-group button {
    font-size: 1em;
    color: #fff;
    position: absolute;
    right: -52px;
    top: -1px;
    border: 1px solid #e7ab3c;
    background: #e7ab3c;
    padding: 12px 16px 12px;
}

.inner-header .nav-right {
    padding: 10px 0;
}

.inner-header .nav-right li {
    list-style: none;
    display: inline-block;
    font-size: 1.250em;
    margin-left: 15px;
}

.inner-header .nav-right li.heart-icon a {
    color: #252525;
    position: relative;
    display: inline-block;
}

.inner-header .nav-right li.heart-icon a span {
    position: absolute;
    right: -8px;
    top: -1px;
    height: 15px;
    width: 15px;
    background: #e7ab3c;
    color: #fff;
    border-radius: 50%;
    font-size: 0.688em;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
}

.inner-header .nav-right li.cart-icon {
    position: relative;
}

.inner-header .nav-right li.cart-icon a {
    color: #252525;
    position: relative;
    display: inline-block;
}

.inner-header .nav-right li.cart-icon a span {
    position: absolute;
    right: -8px;
    top: -1px;
    height: 15px;
    width: 15px;
    background: #e7ab3c;
    color: #fff;
    border-radius: 50%;
    font-size: 0.688em;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
}

.inner-header .nav-right li.basket-price {
    font-size: 1.125em;
    font-weight: 700;
    color: #0F1111;
}

.nav-item {
    background: #252525;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-item .nav-depart {
    float: left;
}

.nav-item .nav-depart .depart-btn {
    background: #3b3b3b;
    padding: 14px 84px 14px 18px;
    position: relative;
}

.nav-item .nav-depart .depart-btn a {
    color: #fff;
}

.nav-item .nav-depart .depart-btn a:hover {
    text-decoration: none;
}

.nav-item .nav-depart .depart-btn i {
    color: #fff;
    font-size: 16px;
}

.nav-item .nav-depart .depart-btn span {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 16px;
}

.nav-item .nav-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
}

.nav-item .nav-menu li {
    list-style: none;
    display: inline-block;
    margin-left: -5px;
    position: relative;
}

.nav-item .nav-menu li.active a {
    background: #e7ab3c;
}

.nav-item .nav-menu li a {
    font-size: 0.875em;
    font-weight: 700;
    display: block;
    color: #fff;
    border-right: 2px solid #3b3b3b;
    text-transform: uppercase;
    padding: 16px 42px 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-item .nav-menu li:hover > a {
    background: #e7ab3c;
    text-decoration: none;
}

.slicknav_menu {
    display: none;
}

/** Modals **/

.modalForm .facebook {
    margin-top: 10px;
    margin-bottom: 15px;
}

.modalForm .google {
    margin-bottom: 15px;
}

.modalForm .facebook button {
    background-color: #4267b2;
    color: #fff;
    border: #4267b2;
    font-size: 1rem;
    padding-bottom: 13px;
    padding-top: 15px;
    font-weight: bold;
    min-height: 48px;
    width: 100%;
    max-width: 100%;
}

.modalForm .google button {
    border: thin solid #888;
    background-color: #fff;
    color: #444;
    padding-right: 30px;
    line-height: inherit;
    padding-left: 34px;
    font-size: 1rem;
    padding-bottom: 13px;
    padding-top: 15px;
    font-weight: bold;
    min-height: 48px;
    width: 100%;
    min-width: 100%;
}

.modalForm .facebook button:hover {
    background-color: #10299c;
    border: #10299c;
}

.modalForm .google button:hover {
    border: thin solid #888;
    background-color: #eee;
    color: #444;
}

.modalForm .facebook button::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 22px;
    width: 34px;
    height: 90%;
}

.modalForm .google button::before {
    content: "";
    position: absolute;
    top: 111px;
    left: 32px;
    width: 20px;
    height: 20px;
}

.modalForm .facebook button::before {
    background: url(../../views/img/facebook-logo.png) 6px 6px no-repeat; 
}

.modalForm .google button::before {
    background: url(../../views/img/google-logo.png) no-repeat;
    background-size: 100%;
}

.modalForm form {
    padding: 20px;
}

.modalForm .input-group .input-group-addon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.modalForm .input-group .input-group-addon {
    white-space: nowrap;
    vertical-align: middle;
}

.modalForm .input-group .input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.modalForm .input-group .input-group-addon:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.modalForm .input-group .input-group-addon:not(:last-child) {
    border-right: 0;
}

.input-group > .form-control:focus {
    z-index: 0 !important;
}

.form-input-password {
    padding-right: 3rem;
}

.separator {
    display: block;
    width: 100%;
    height: 30px;
    padding: 1px;
}

.separator-line {
    width: 100%;
    height: 1px;
    margin: 16px 0 0;
    background-color: #c7c7c7;
}

.separator-content {
    position: relative;
    top: -9px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
}

.separator-content mark {
    background-color: #FFF;
    padding: 0 4px;
}

.help-tools-section {
    margin-top: 8px;
}

.icon-font-component {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.form-input-icon {
    height: 24px;
    width: 24px;
    background: none;
    border: 0;    
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 3rem;
}

.reg-toggle-password-visible {
    color: #e7ab3c;
}

.form-input-icon.form-input-right {
    border-radius: 0 .3rem .3rem 0;
    right: 0;
}

/* ------------------------------ Responsive Media Styles ---------------------------- */

@media only screen and (min-width: 1200px) and (max-width: 1920px) {

    .inner-header .advanced-search-box .input-group button {
        right: -52px;
    }

    .nav-item .nav-menu li a {
        padding: 16px 45px 15px;
    }

}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .inner-header .logo a img {
        height: 43px;
    }

    .inner-header .advanced-search-box .category-btn {
        max-width: 36%;
    }

    .inner-header .advanced-search-box .input-group {
        max-width: 64%;
    }

    .inner-header .nav-right li.basket-price {
        font-size: 0.875em;
    }

    .nav-item .nav-menu li a {
        padding: 16px 26px 15px;
    }

    .inner-header .advanced-search-box .input-group button {
        right: -27px;
    }

    #header-sbc #shop-see-all {
        font-size: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .inner-header .advanced-search-box .input-group button {
        right: -28px;
    }
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .h-top .h-right .login-panel {
        padding-left: 10px;
    }

    .h-top .h-right .register-panel {
        padding-left: 10px;
    }

    .h-top .h-right .social {
        padding-right: 10px;
    }

    .h-top .h-left .mail-service {
        padding-right: 10px;
    }

    .h-top .h-left .phone-service {
        padding-left: 10px;
    }

    .h-top .h-right .social a {
        margin-left: 10px;
    }

    .inner-header .advanced-search-box .category-btn {
        max-width: 40%;
        padding-right: 25px;
    }

    .inner-header .advanced-search-box .input-group {
        max-width: 60%;
    }

    .inner-header .nav-right li {
        margin-left: 8px;
    }

    .nav-item .nav-depart .depart-btn {
        padding: 14px 40px 14px 18px;
    }

    .nav-item .nav-menu li a {
        padding: 16px 10px 15px;
    }
}

/* Large Device: 480px */

@media only screen and (max-width: 767px) {   

    .h-top .h-left,
    .h-top .social {
        display: none;
    }

    .h-top .h-right .login-panel, 
    .h-top .h-right .register-panel {
        padding-top: 9px;
        padding-bottom: 7px;
    }

    .inner-header .advanced-search-box .category-btn {
        display: none;
    }

    .inner-header .advanced-search-box .input-group {
        max-width: 100%;
    }

    .inner-header {
        padding: 0;
    }

    .inner-header .logo {
        text-align: center;
    }

    .inner-header .nav-right {
        text-align: left;
    }

    .inner-header .nav-right li:first-child {
        margin-left: 0;
    }

    .nav-item .nav-depart .depart-btn {
        padding: 14px 50px 14px 18px;
    }

    .nav-item {
        background: transparent;
    }

    .nav-item .nav-menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
        background: transparent;
        text-align: center;
        margin-top: -48px;
    }

    .slicknav_nav {
        background: #333;
    }

    .slicknav_nav ul {
        margin: 0;
        text-align: left;
    }
    
    .slicknav_nav a,
    .slicknav_nav .slicknav_row {
        margin: 0;
    }
    
    .slicknav_nav .dropdown a {
        padding-left: 25px;
    }
    
    .nav-item .nav-depart {
        display: none;
    }
    
    .slicknav_btn {
        border-radius: 0;
        background-color: #e7ab3c !important;
        display: inline-block;
        right: -16px;
    }
    
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 8px 15px;
    }
    
    .slicknav_nav a:hover {
        border-radius: 0;
        background: #e7ab3c;
        color: #fff;
    }
    
    .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: #e7ab3c;
        color: #fff;
    }
}

/* Small Device: 320px */

@media only screen and (max-width: 479px) {
    .inner-header .advanced-search-box .category-btn {
        display: none;
    }

    .inner-header .advanced-search-box .input-group {
        max-width: 100%;
    } 

    .inner-header .advanced-search-box .input-group button {
        right: -2px;
    }
    
    .modal-footer {
        display: inline;
        font-size: 14px;
    }
}
