/* 
    Created on : 15/03/2021, 10:05:26 AM
    Author     : Sam Hernández
    Version: 1.0
    Repository: https://github.com/Sam24Hernandez/YuppieCommerce
*/

.rating-section {
    margin-bottom: 22px;
}

.a-spacing-top-micro.rating-section {
    padding-top: 4px;
    margin-top: 0 !important;
}

.a-spacing-top-micro.rating-section i {
    cursor: pointer;
}

.radio-inline {
    margin-right: 5px;
}