/* 
    Created on : 15/03/2021, 10:05:26 AM
    Author     : Sam Hernández
    Version: 1.0
    Repository: https://github.com/Sam24Hernandez/YuppieCommerce
*/

/***** Banner Section *****/

.banner-section {
    padding: 80px 50px;
}

.single-banner {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.single-banner:hover::before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.single-banner::before {
    position: absolute;
    left: 35px;
    top: 30px;
    border: 13px solid #fff;
    content: "";
    opacity: 0.3;
    width: calc(100% - 70px);
    height: calc(100% - 60px);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.single-banner img {
    min-width: 100%;       
}

.single-banner .inner-text {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.single-banner .inner-text h4 {
    color: #252525;
    font-weight: 700;
    padding: 11px 28px;
    background: #fff;
    border-radius: 3px;    
}

/** Featured Section Spad **/

.women-banner {
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 0;
    padding-bottom: 80px;    
}

.product-large {
    height: 620px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    padding-top: 285px;
    background: #252525;
}

.product-large h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
}

.product-large a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.product-large a:hover {
    text-decoration: none;
}

.product-large a:before {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
}

.filter-control {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 32px;
}

.filter-control ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #b2b2b2;
    margin-right: 22px;
    position: relative;
    cursor: pointer;
}

.filter-control ul li.active {
    color: #171717;
}

.filter-control ul li.active:before {
    opacity: 1;
}

.filter-control ul li:before {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #171717;
    content: "";
    opacity: 0;
}

.filter-control ul li:last-child {
    margin-right: 0;
}

.product-slider .owl-nav button[type=button] {
    font-size: 30px;
    position: absolute;
    left: -62px;
    top: 25%;
    color: #171717;
    opacity: 0.3;
}

.product-slider .owl-nav button[type=button].owl-next {
    left: auto;
    right: -62px;
    color: #171717;
    opacity: 1;
}

.product-slider .owl-dots {
    text-align: center;
    margin-top: 27px;
}

.product-slider .owl-dots button {
    width: 6px;
    height: 6px;
    background: #D8D9DA;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.product-slider .owl-dots button:last-child {
    margin-right: 0;
}

.product-slider .owl-dots button.active {
    width: 30px;
    background: #252525;
    border-radius: 50px;
}

.product-item {
    margin-bottom: 26px;
}

.product-item:hover .pi-pic .icon {
    top: 15px;
    opacity: 1;
}

.product-item:hover .pi-pic ul {
    bottom: 0;
}

.product-item .pi-pic {
    overflow: hidden;
    position: relative;
}

.product-item .pi-pic img {
    min-width: 100%;
}

.product-item .pi-pic .icon {
    font-size: 20px;
    color: #252525;
    position: absolute;
    right: 21px;
    top: -15px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.product-item .pi-pic .icon button {
    color: #e7ab3c;
    border: none;
    background: 0 0;
}

.product-item .pi-pic ul {
    position: absolute;
    left: 0;
    bottom: -52px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    width: 100%;
}

.product-item .pi-pic ul li {
    list-style: none;
    display: inline-block;
    background: #fff;
}

.product-item .pi-pic ul li.w-icon.active a {
    background: #e7ab3c;
    color: #fff;
}

.product-item .pi-pic ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    display: block;
    padding: 16px 18px 12px 19px;
}

.product-item .pi-pic ul li a:hover {
    text-decoration: none;
}

.product-item .pi-text .discount-name {
    font-size: 10px;
    color: #b2b2b2;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-item .pi-text {
    text-align: center;
    padding-top: 26px;
}

.product-item .pi-text a {
    display: block;
}

.product-item .pi-text a:hover {
    text-decoration: underline;
    color: #252525;
}

.product-item .pi-text a h5 {
    color: #252525;
    font-weight: bold;
}

.product-item .pi-text .product-price {
    color: #e7ab3c;
    font-size: 20px;
    font-weight: 700;
}

.product-item .pi-text .product-price span {
    font-size: 14px;
    font-weight: 400;
    color: #b2b2b2;
    text-decoration: line-through;
}

/** Deal of the Week **/

.deal-of-week {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 65px;
    margin-right: 65px;  
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    color: #252525;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 38px;
    position: relative;
}

.section-title h2::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    width: 80px;
    height: 3px;
    background: #e7ab3c;
    content: "";
    margin: 0 auto;
}

.section-title p {
    color: #6e6e6e;
    font-size: 16px;
    line-height: 26px;
}

.section-title .product-price {
    font-size: 24px;
    font-weight: 700;
    color: #e7ab3c;
}

.countdown-timer {
    text-align: center;
    margin-bottom: 50px;
}

.countdown-timer .cd-item {
    display: inline-block;
    background: #fff;
    margin-right: 35px;
    padding: 10px 14px;
    border-radius: 5px;
}

.countdown-timer .cd-item:last-child {
    margin-right: 0;
}

.countdown-timer .cd-item span {
    color: #e7ab3c;
    font-weight: 700;
    line-height: 40px;
    font-size: 36px;
}

.countdown-timer .cd-item p {
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Bar of Products */

.title-featured {
    display: flex;
    padding-bottom: 50px;
    margin-top: -5px;
}

.featured-header-title {
    padding-right: 20px;
    flex: 0 1 auto;
}

.featured-header-title > h1 {
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

.featured-seeall {
    flex-shrink: 0;
    display: inline-block;
    font-weight: 600;
}

.featured-seeall {
    font-size: 1.25rem;
    font-weight: normal;
    flex: 1 0 auto;
    line-height: 32px;
}

.featured-seeall > a {
    color: #111820;
    display: inline-block;
    padding-left: 17px;
    border-left: solid 2px #f5f5f5;
    line-height: 1.125rem;
}

.single-grid-product {
    margin-bottom: 25px;
}

.single-grid-product img {
    min-width: 100%;
    transition: .3s all ease;
}

.single-grid-product img:hover {
    transition: .3s all ease;
    opacity: .8;
    transform: scale(1.1,1.1);
}

.single-grid-product .links-text {
    padding-top: 25px;
}

.single-grid-product .links-text .discount-name {
    font-size: 10px;
    color: #b2b2b2;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-grid-product .links-text a {
    display: block;
}
.single-grid-product .links-text a:hover {
    color: #252525;
}

.single-grid-product .links-text a h5 {
    color: #252525;
    line-height: 1.3;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-grid-product .links-text .price {
    padding: 0;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #e7ab3c;
}

.single-grid-product .links-text .price span {
    font-size: 14px;
    font-weight: 400;
    color: #b2b2b2;
    text-decoration: line-through;
}

.single-grid-product .links-text .tag-list {
    margin-bottom: 8px;
}

.single-grid-product .links-text .tag-list .tag-item {
    display: inline-block;
}

.single-grid-product .links-text .tag-list .tag-item i {
    font-size: 16px;
    color: #333;    
}

/* Benefit Section */

.delivery-section {
    padding-bottom: 80px;
}

.benefit-items {
    border: 1px solid #ebebeb;
    margin-top: 45px;
}

.benefit-items .single-benefit {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-right: 1px solid #f3f4f0;
}

.benefit-items .single-benefit .sb-icon {
    float: left;
    margin-right: 20px;
}

.benefit-items .single-benefit .sb-text {
    display: table;
}

.benefit-items .single-benefit .sb-text h6 {
    color: #252525;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.benefit-items .single-benefit .sb-text p {
    margin-bottom: 0;
    color: #252525;
    line-height: 20px;
    font-size: 16px;
}

/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-text {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;
}

.breadcrumb-text a {
    display: inline-block;
    font-size: 16px;    
    color: #252525;
    margin-right: 28px;
    position: relative;
}

.breadcrumb-text a:hover {
    text-decoration: none;
}

.breadcrumb-text a:after {
    position: absolute;
    right: -18px;
    top: 0px;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 16px;
    color: #b2b2b2;
}

.breadcrumb-text span {
    display: inline-block;
    color: #b2b2b2;
}

/** Banner Products **/

.zg-banner {
/*    background: radial-gradient(#0A99AF, #057586);
    height: 140px;
    color: #fff;*/
    padding-top: 6px;
}

.y-row {
    width: 100%;
}

.y-row::after, .y-row::before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}

.y-row::after {
    clear: both;
}

.y-spacing-top-small {
    margin-top: 8px;
}

.zg-banner-text {
    font-size: 61px;
    font-weight: 600;
    line-height: 1.2em;
}

.zg-banner-subtext {
    font-size: 16px;
}

.zg-banner-subtext {
    display: block;
}

/*---------------------
  Product Shop
-----------------------*/

.product-shop {
    padding-bottom: 80px;
}

.filter-widget {
    margin-bottom: 45px;
}

.filter-widget .fw-title {
    color: #252525;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.filter-widget .fw-category {
    margin-left: 12px;
    color: #252525;
    font-weight: 700;    
}

.filter-widget .filter-categories li {
    list-style: none;
    margin-left: 24px;
    margin-bottom: -10px;
}

.filter-widget .filter-categories li a {
    display: inline-block;
    color: #0F1111;
    font-size: 14px;
    line-height: 39px;
}

.filter-widget .filter-categories li a:hover {
    text-decoration: none;
    color: #c45500;
}

.filter-widget .fw-brand-check .bc-item {
    margin-bottom: 3px;
}

.filter-widget .fw-brand-check .bc-item label {
    position: relative;
    cursor: pointer;
    padding-left: 28px;
}

.filter-widget .fw-brand-check .bc-item label input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-brand-check .bc-item label input:checked~span {
    background: #e7ab3c;
    border-color: #e7ab3c;
}

.filter-widget .fw-brand-check .bc-item label .checkmark {
    position: absolute;
    left: 0;
    top: 5px;
    height: 15px;
    width: 15px;
    border: 2px solid #ebebeb;
    border-radius: 2px;
}

.filter-widget .fw-brand-check .bc-item label .checkmark:after {
    left: 0;
    top: 0;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
}

.filter-widget .filter-range-wrap {
    margin-bottom: 40px;
}

.filter-widget .filter-range-wrap .range-slider {
    margin-bottom: 25px;
}

.filter-widget .filter-range-wrap .range-slider .price-input {
    position: relative;
}

.filter-widget .filter-range-wrap .range-slider .price-input:after {
    position: absolute;
    left: 58px;
    top: 13px;
    height: 1px;
    width: 17px;
    background: #ebebeb;
    content: "";
}

.filter-widget .filter-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #252525;
    max-width: 20%;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.filter-widget .filter-range-wrap .range-slider .price-input input:nth-child(1) {
    margin-right: 28px;
}

.filter-widget .filter-range-wrap .price-range {
    border-radius: 0;
}

.filter-widget .filter-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #ebebeb;
    height: 3px;
}

.filter-widget .filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: 1px 6px 14px -4px #425c6d;
    box-shadow: 1px 6px 14px -4px #425c6d;
    outline: none;
}

.filter-widget .filter-range-wrap .price-range .ui-slider-range {
    background: #ebebeb;
    border-radius: 0;
}

.filter-widget .filter-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
    background: #e7ab3c;
}

.filter-widget .fw-color-choose .cs-item {
    width: 15%;
    float: left;
    margin-bottom: 4px;
}

.filter-widget .fw-color-choose .cs-item input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-color-choose .cs-item label {
    cursor: pointer;
    position: relative;
    padding-left: 33px;
    font-size: 16px;
    color: #636363;
}

.filter-widget .fw-color-choose .cs-item label.cs-violet:before {
    background: #8230E3;
}

.filter-widget .fw-color-choose .cs-item label.cs-blue:before {
    background: #2773BE;
}

.filter-widget .fw-color-choose .cs-item label.cs-yellow:before {
    background: #EEEE21;
}

.filter-widget .fw-color-choose .cs-item label.cs-red:before {
    background: #DC3232;
}

.filter-widget .fw-color-choose .cs-item label.cs-green:before {
    background: #81D742;
}

.filter-widget .fw-color-choose .cs-item label.cs-green:before {
    background: #81D742;
}

.filter-widget .fw-color-choose .cs-item label.cs-brown:before {
    background: #664b4b;
}

.filter-widget .fw-color-choose .cs-item label.cs-white:before {
    background: #fdfdfd;
    border: 1px solid #ddd;
}

.filter-widget .fw-color-choose .cs-item label.cs-gray:before {
    background: #888888;
}

.filter-widget .fw-color-choose .cs-item label.cs-gold:before {
    background: #dbcd83;
}

.filter-widget .fw-color-choose .cs-item label.cs-pink:before {
    background: #ffd0d0;
}

.filter-widget .fw-color-choose .cs-item label.cs-cyan:before {
    background: #38b6b2;
}

.filter-widget .fw-color-choose .cs-item label:before {
    position: absolute;
    left: 0;
    top: 4px;
    height: 18px;
    width: 18px;
    background: #252525;
    border-radius: 50%;
    content: "";
}

.size-s {
    padding-top: 50px;
}

.filter-widget .fw-size-choose .sc-item {
    display: inline-block;
    margin-right: 5px;
}

.filter-widget .fw-size-choose .sc-item:last-child {
    margin-right: 0;
}

.filter-widget .fw-size-choose .sc-item input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-size-choose .sc-item label {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    height: 40px;
    width: 47px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-widget .fw-size-choose .sc-item label.active {
    background: #252525;
    color: #ffffff;
}

.checkmark:after {
    position: absolute;
    content: "";
}

.product-show-option {
    margin-bottom: 30px;
}

.product-show-option .select-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-show-option .select-option .nice-select {
    border-radius: 0;
    border: 1px solid #ECEDEE;
    height: 40px;
    line-height: 35px;
}

.product-show-option .select-option .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
}

.product-show-option .select-option .nice-select:after {
    border-bottom: 2px solid #4c4c4c;
    border-right: 2px solid #4c4c4c;
    height: 7px;
    right: 22px;
    top: 47%;
    width: 7px;
    opacity: 0.7;
}

.product-show-option .select-option .nice-select span {
    font-size: 16px;
    color: #4c4c4c;
}

.product-show-option .select-option .sorting {
    margin-right: 20px;
}

.product-show-option .select-option .sorting.nice-select {
    padding-right: 70px;
}

.product-show-option p {
    margin-bottom: 0;
    color: #636363;
    line-height: 39px;
    font-size: 16px;
}

.prduct-list .product-item {
    margin-bottom: 25px;
}

.pagination-more {
    text-align: center;
    padding-top: 10px;
}

.all-categories-sidebar h4 {
    margin: 0 0 23px 0;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0;
    color: #0F1111;
}

.c-categories {
    display: inline-block;
    width: 100%;
    padding: 45px 8px 0 0;
    margin-top: -45px;
}

#categories-sbc {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0 8px;
    float: left;
}

#categories-sbc td {
    vertical-align: top;
    padding: 0 8px;
}

#categories-sbc h3 {
    margin: 0 0 8px 0;
    font-weight: bold;
    font-size: 20px;
    color: #0f1923;
    letter-spacing: -0.1px;
    border-bottom: 2px solid #111820;
    text-align: left;
    line-height: 1.2;
    height: 40px;
}

#categories-sbc h3 a {
    height: 2.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    color: #0f1821;
}

#categories-sbc .all-cats {
    position: relative;
    height: 120px;
    background: #f5f5f5;
}

#categories-sbc .categories-img-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 300px;
    max-height: 120px;
    margin-bottom: 11px;
}

#categories-sbc .categories-img-wrapper img {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);    
}

#categories-sbc .categories-img-wrapper::after {
    display: block;
    content: '';
    padding-top: 40%;
}

#categories-sbc .categories-list-sbc {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#categories-sbc .categories-list-sbc li {
    margin: -3px -3px 17px -3px;
    padding: 3px;
}

#categories-sbc .categories-list-sbc li a {
    display: inline-block;
    max-width: 90%;
    color: #0f1821;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------------------------ Responsive Media Styles ---------------------------- */

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .product-large h2 {
        font-size: 38px;
    }

    .countdown-timer .cd-item {
        margin-right: 26px;
    }

}

@media only screen and (max-width: 991px) {
    .banner-section {
        padding: 80px 0 50px;
    }

    .single-banner {
        margin-bottom: 30px;
    }

    .women-banner {
        padding-right: 0;
        padding-left: 0;
    }

    .product-large {
        margin-left: 0;
        margin-right: 0;
    }

    .deal-of-week {
        margin-left: 0;
        margin-right: 0;
    }

    .product-slider .owl-nav button[type=button] {
        display: none;
    }
    
    .zg-banner-text {
        font-size: 51px;
    }
}

/* Large Device: 480px */

@media only screen and (max-width: 767px) {
    .product-show-option p {
        text-align: left;
    }
}

/* Small Device: 320px */

@media only screen and (max-width: 479px) {

    .countdown-timer .cd-item {
        margin-right: 5px;
        padding: 10px 6px;
    }

    .benefit-items .single-benefit {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .product-show-option .select-option {
        display: inline-block;
    }
    
    .product-show-option .select-option .sorting.nice-select {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    
    #bannerProduct {
        display: none;
    }

}
