/* 
    Created on : 15/03/2021, 10:05:26 AM
    Author     : Sam Hernández
    Version: 1.0
    Repository: https://github.com/Sam24Hernandez/YuppieCommerce
*/

/* Template Default Font Color */

:root {
    --color-background-default: #fff;
    --color-text-default: #0F1111;
    --color-text-secondary: #767676;
    --color-link-default: #3665f3;
    --color-link-visited: #C7511F;
}

/* Generic Classes */

*,
::after,
::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    font-family: "Mulish", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--color-text-default);
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 0.750em;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin: 0 0 15px 0;
    line-height: 1.63em;
}

img {
    max-width: 100%;
    border: 0;
}

input,
select {
    vertical-align: middle;
}

input, 
select,
textarea {
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    line-height: 1.188em;
    color: var(--color-text-default);
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="password"],
select,
textarea {    
    border-radius: 3px;    
    outline: 0;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="email"]{
    background: var(--color-background-default);
    height: 31px;
    padding: 3px 7px;
    line-height: normal;   
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a, 
a:link, 
a:visited {
    color: var(--color-link-default);
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus {
    text-decoration: underline;
    outline: none;
    color: var(--color-link-visited);
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.row-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Error 404 Page */

.error404 h1 {
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #ffffff, 6px 6px #263238;
    line-height: 210px;
}

.error404 h2 {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
}

.error404 a.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px;
}





